{% extends 'welcome.html' %} 
{% block content %}

    
<div style=" background-color:black">
<h3 style="margin-left:15px; color:white; margin-top:90px">Contact Us : </h3>
<p  style=" font-family:sans-serif; color:white; margin-left:15px;"> Have a question or want to get in touch? We'd love to hear from you!</p>
<h3 style="color:white; margin-left:15px;"   >Reach Out : </h3>
<p  style=" font-family:sans-serif; color:white; margin-left:15px;">Feel free to reach out to us using the following methods: </p>
<p  style=" font-family:sans-serif;  color:white;margin-left:15px;" ><b>Email :</b> Send us an email at contact@nvsolutions.com and we'll get back to you as soon as possible.</br>
    <b>Phone :</b> Give us a call at +123-456-7890 during our office hours (Monday to Friday, 9 AM - 5 PM).</br>
    <b>Visit :</b> If you prefer face-to-face interactions, you can find us at NVSOLUTIONS HYDERABAD. </p>
<h3 style="color:white; margin-left:15px;"  >Let's Connect : </h3>
<p style=" font-family:sans-serif; color:white; margin-left:15px;"> Stay updated with our latest news, updates, and insights by following us on social media: </p>
<ul>
    <li><a href="https://www.facebook.com/nvsolutions">Facebook</a></li>
    <li><a href="https://twitter.com/nvsolutions">Twitter</a></li>
    <li><a href="https://www.linkedin.com/company/nvsolutions">LinkedIn</a></li>
    <li><a href="https://www.instagram.com/nvsolutions">Instagram</a></li>
</ul>
</div>

{% endblock  %}