{% extends 'welcome.html' %} 
{% block content %}


<div style="background-color:green;height:auto; width:90%; margin-right:80px; margin-left:50px; margin-top:100px">
  <div style="background-color:#dadae0; height:auto;">
    <h6 style="margin-left:15px; margin-top:15px;">Python developer | Fresher | </br> Nv solutions</h6> 
   <div style="display: inline-block;position: relative;">
    <span style="display: inline-block; position: absolute; top: 50%; left: -30px; transform: translateY(-50%); ">
        
   <div style="margin-left:115px">
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16"> 
        <path   d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/> 
    </svg> 
</div>
</span>
<span style="padding-left :15px">Full-time</span>
</div> 
  <p style="padding-left :15px">Hyderabad, Telangana </p> 
  
  <a href="{% url "python_application" %}"> <button style="height:30px; width:110px; background-color:#25107a; text-align:center;  margin-left:15px; margin-bottom:10px; color:white; text-align:center; border-radius:5px" >   Apply </button>  </a>
 

  </div>
</div>




    <div style="background-color:green;height:auto; width:90%; margin-right:80px; margin-left:50px; margin-top:20px">
      <div style="background-color:#dadae0; height:auto;">
        <h6 style="margin-left:15px; margin-top:15px;">Java developer | Fresher | </br> Nv solutions</h6> 
       <div style="display: inline-block;position: relative;">
        <span style="display: inline-block; position: absolute; top: 50%; left: -30px; transform: translateY(-50%); ">
            
       <div style="margin-left:115px">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16"> 
            <path   d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/> 
        </svg> 
    </div>
    </span>
    <span style="padding-left :15px">Full-time</span>
    </div> 
      <p style="padding-left :15px">Hyderabad, Telangana </p>  
     
      <a href="{% url "java_application" %}"> <button style="height:30px; width:110px; background-color:#25107a; text-align:center;  margin-left:15px; margin-bottom:10px; color:white; text-align:center; border-radius:5px"> Apply </button> </a>
      </div>
    </div>
    

    
        <div style="background-color:green;height:auto; width:90%; margin-right:80px; margin-left:50px; margin-top:20px">
          <div style="background-color:#dadae0; height:auto;">
            <h6 style="margin-left:15px; margin-top:15px;"> Associate software engineer | Fresher | </br> Nv solutions</h6> 
           <div style="display: inline-block;position: relative;">
            <span style="display: inline-block; position: absolute; top: 50%; left: -30px; transform: translateY(-50%); ">
                
           <div style="margin-left:115px">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16"> 
                <path   d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/> 
            </svg> 
        </div>
        </span>
        <span style="padding-left :15px">Full-time</span>
        </div> 
          <p style="padding-left :15px">Hyderabad, Telangana </p>  
         
          <a href="{% url "ass_application" %}"> <button style="height:30px; width:110px; background-color:#25107a; text-align:center;  margin-left:15px; margin-bottom:10px; color:white; text-align:center; border-radius:5px"> Apply </button> </a>
          </div>
        </div>
        
        
            <div style="background-color:green;height:auto; width:90%; margin-right:80px; margin-left:50px; margin-top:20px">
              <div style="background-color:#dadae0; height:auto;">
                <h6 style="margin-left:15px; margin-top:15px;">Training Coordinator| 2 years to 5 years | </br> Nv solutions</h6> 
               <div style="display: inline-block;position: relative;">
                <span style="display: inline-block; position: absolute; top: 50%; left: -30px; transform: translateY(-50%); ">
                    
               <div style="margin-left:115px">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16"> 
                    <path   d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/> 
                </svg> 
            </div>
            </span>
            <span style="padding-left :15px">Full-time</span>
            </div> 
              <p style="padding-left :15px">Hyderabad, Telangana </p>  
              <a href="{% url "coordinator_application" %}">  <button style="height:30px; width:110px; background-color:#25107a; text-align:center;  margin-left:15px; margin-bottom:10px; color:white; text-align:center; border-radius:5px"> Apply </button> </a>
            
              </div>
            </div>
            
            
                <div style="background-color:green;height:auto; width:90%; margin-right:80px; margin-left:50px; margin-top:20px">
                  <div style="background-color:#dadae0; height:auto;">
                    <h6 style="margin-left:15px; margin-top:15px;">java full stack developer  | 3 years to 10 years | </br> Nv solutions</h6> 
                   <div style="display: inline-block;position: relative;">
                    <span style="display: inline-block; position: absolute; top: 50%; left: -30px; transform: translateY(-50%); ">
                        
                   <div style="margin-left:115px">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16"> 
                        <path   d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/> 
                    </svg> 
                </div>
                </span>
                <span style="padding-left :15px">Full-time</span>
                </div> 
                  <p style="padding-left :15px">Hyderabad, Telangana </p>  
                 
                  <a href="{% url "java_full_application" %}">   <button style="height:30px; width:110px; background-color:#25107a; text-align:center;  margin-left:15px; margin-bottom:10px; color:white; text-align:center; border-radius:5px"> Apply </button> </a>
                  </div>
                </div>
               
                
                    <div style="background-color:green;height:auto; width:90%; margin-right:80px; margin-left:50px; margin-top:20px">
                      <div style="background-color:#dadae0; height:auto;">
                        <h6 style="margin-left:15px; margin-top:15px;">Python full stact developer | 3 years to 8 years | </br> Nv solutions</h6> 
                       <div style="display: inline-block;position: relative;">
                        <span style="display: inline-block; position: absolute; top: 50%; left: -30px; transform: translateY(-50%); ">
                            
                       <div style="margin-left:115px">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16"> 
                            <path   d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/> 
                        </svg> 
                    </div>
                    </span>
                    <span style="padding-left :15px">Full-time</span>
                    </div> 
                      <p style="padding-left :15px">Hyderabad, Telangana </p>  
                     
                      <a href="{% url "python_full_application" %}"> <button style="height:30px; width:110px; background-color:#25107a; text-align:center;  margin-left:15px; margin-bottom:10px; color:white; text-align:center; border-radius:5px"> Apply </button> </a>
                      </div>
                    </div>
                    
{% endblock  %}